body {

    margin: 0;

}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: red;
    text-shadow: 15px 15px 15px red;
}

.maruis {
    font-size: x-large;
    font-style: italic;
}

.stade {
    font-size: x-large;
    font-style: italic;
}

.Brennus {
    font-size: x-large;
    font-style: italic;
}

.hauteur {
    font-size: x-large;
    font-style: italic;
}

.subit {
    font-size: x-large;
    font-style: italic;
}

.témoin {
    font-size: x-large;
    font-style: italic;
}


.resultats {

    text-shadow: 15px 10px 15px red;
    font-size: xx-large;
}

.subit {
    text-align: justify;
}

.reconquête {
    text-shadow: 15px 10px 15px red;
    font-size: xx-large;
}


.PA {
    margin-left: 4rem;
    text-shadow: 10px 10px 10px red;
    color: red;
}



.RCTlegende {

    border: 2px solid red;
    margin: auto;

}


.talegendeRCTContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.XV-de-legende {

    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LLL {
    text-shadow: 10px 10px 10px red;
    font-size: xx-large;


}

.containerimg {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.prct {


    display: flex;
    justify-content: center;
    width: 45%;

}

.groupet {
    display: flex;
    justify-content: center;
    width: 45%;
}

.container2 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: red;

}

.fant {
    text-align: center;
    background-color: red;
    text-shadow: 15px 15px 15px cornflowerblue;
    width: 20rem;
    height: 100%
}

.suivante {
    border: 1px solid black;
    width: 20rem;
    background-color: red;
    text-align: center;
}

.entete {
    width: 100%;
    height: 250px;

}

.felix {
    text-align: justify;
    font-style: italic;
    font-size: x-large;

}

h2 {
    text-shadow: 10px 10px 10px red;
}

.lemaitre {
    font-size: x-large;
    font-style: italic;
}

.fondé {

    font-size: x-large;
    font-style: italic;
}

.palmares {
    font-size: x-large;
    font-style: italic;
}

.jltE {
    width: 40%;
    text-align: right;
    padding-right: 2rem;
    text-shadow: 10px 10px 10px red;

}

.container-joueur {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.jtl {

    width: 40%;
    text-shadow: 10px 10px 10px red;
}

.trois {

    display: flex;
}

.president-contenair {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}

.president-T {
    width: 100%;
}

.president-t {
    text-align: center;

}

.president-sous-contenair {

    display: flex table-column;
    width: 100%;
    text-align: center;
}

a {

    color: black;
    text-decoration: none;

}

a:hover {
    font-size: 1.2rem;
}

.abonnement {
    align-items: center;
    display: flex;
    justify-content: center;
    float: left;
    display: block;
    border: 2px solid red;
    width: 100%;
}

/* Tablette */
@media (width <=800px) {

    .maruis {
        font-size: medium;
        padding: 10px;
    }

    .hauteur {
        font-size: medium;
        padding: 10px;
    }

    .Brennus {
        font-size: medium;
        padding: 10px;
    }

    .stade {
        font-size: medium;
        padding: 10px;
    }

    .témoin {
        font-size: medium;
        padding: 10px;
    }

    .subit {
        font-size: medium;
        padding: 10px;
    }

    .lemaitre {
        font-size: medium;
        padding: 10px;
    }

    .fondé {
        font-size: medium;
        padding: 10px;
    }

    .palmares {
        font-size: medium;
        padding: 10px;
    }

    .felix {
        font-size: medium;
        padding: 10px;
    }

    .trois {

        display: flex;
        flex-direction: column;

    }

    .video-contenair {
        display: flex;
        flex-direction: column;
    }
}


/* mobile */
@media (width <=550px) {

    .lemaitre {
        font-size: medium;
        padding: 10px;
    }

    .fondé {
        font-size: medium;
        padding: 10px;
    }

    .palmares {
        font-size: medium;
        padding: 10px;
    }

    .felix {
        font-size: medium;
        padding: 10px;
    }

    .video-contenair {
        display: flex;
        flex-direction: column;
    }

    .trois {

        display: flex;
        flex-direction: column;
    }

    .témoin {
        font-size: medium;
        padding: 10px;
    }

    .subit {
        font-size: medium;
        padding: 10px;
    }

    .hauteur {
        font-size: medium;
        padding: 10px;
    }

    .Brennus {
        font-size: medium;
        padding: 10px;
    }

    .stade {
        font-size: medium;
        padding: 10px;
    }

    .maruis {
        font-size: medium;
        padding: 10px;
    }
}